In [ ]:
# addition using ML

In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt

In [5]:
df=pd.read_csv('add.csv')
df

      a   b  sum
0     1   1    2
1     2   2    4
2     3   5    8
3     3   6    9
4     5  10   15
5     7  15   22
6    10  19   29
7    15  26   41
8    12  45   57
9    20  17   37
10   11  19   30
11   30  30   60
12   50  80  130
13  100  11  111
14  200  12  212
15   56  15   71

In [6]:
reg=linear_model.LinearRegression()
reg.fit(df[['a','b']],df['sum'])

LinearRegression()

In [7]:
reg.predict([[10,15]])

array([25.])